<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>
    <main>
            <% if (commonErrMessage) { %>
                <div class="user-message user-message--error"><%= commonErrMessage %></div>
            <% } %>
        <form class="product-form" action="/admin/<% if(Editing === true) { %>edit-product  <% } else {%>add-product%> <%}%>" method="POST" enctype="multipart/form-data">
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" value="<% if(Editing || product) { %><%=product.title%><% }%>">
                <span class="invalid"><%=(hasError &&  errorMessages.title) ? errorMessages.title : "" %></span> 
            </div>
            <div class="form-control">
                <label for="image">Image</label>
                <input 
                    type="file" 
                    name="image" 
                    id="image" >
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input type="number" name="price" id="price" step="0.01" value="<% if(Editing || product) { %><%=product.price%><% }%>"> 
                <span class="invalid"><%=(hasError &&  errorMessages.price) ? errorMessages.price : "" %></span> 
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea name="description" id="description" rows="5"><% if(Editing || product) { %><%=product.description%><% }%>
                </textarea>
                <span class="invalid"><%=(hasError &&  errorMessages.description) ? errorMessages.description : "" %></span>
            </div>
            <%
              if(Editing) {
            %>
            <input type="hidden" name="productId" value="<%=product._id %>" />
           
            <%}
            %>
            <input type="hidden" name="_csrf" value="<%=csrf %>" />
            <button class="btn" type="submit"><% if(Editing === true) { %>Update product  <% } else {%>Add Product%> <%}%></button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>
